@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-mygradient {
  background-image: linear-gradient(to right, #1e293b, #0f172a);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: auto;
  scrollbar-color: #ffffff dark;
  scroll-behavior: smooth;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #252222;
  border-radius: 10px;
  border: none;
}
